.summary {
	color: #fff;
	font-weight: bold;
	margin: 0.5em 0 0;
	padding: 0 0.5em;
	text-shadow: 1px 1px 0 rgba(24,89,135,0.75); }
.tb li {
	margin: 0; }
.tb .head {
	border-bottom: 1px solid rgba(0,0,0,0.1); }
.tb li div, .summary div {
	float: left;
	margin: 0; }
.project .name {
	width: 66%; }
.project .time, .project .cost {
	width: 17%; }
.project .time {
	text-align: center; }
.project .cost {
	text-align: right; }
.tb a, .tb .head {
	line-height: 1.5;
	padding: 0.25em 0.5em; }
.tb a {
	color: #336;
	display: block; }
.tb a:hover, .tb a:focus {
	background: rgba(255,255,255,0.67);
	color: #39c; }
.tb:after, .tb li:after, .tb a:after, .summary:after, .actions:after {
	clear: both;
	content: '';
	display: table; }
.actions form {
	margin: 0; }

@media screen and (min-width: 40em) {
	.summary { font-size: 100%; line-height: 1.2; padding: 0 0.38em; }
	.actions { margin: 0 auto; }
	.actions form { float: left; width: 48%; }
	.actions form:first-of-type { margin-right: 4%; }
}