/* THANKS ERIC! */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}:focus{outline:none;}

/* General */

* { box-sizing: border-box; }
body {
	font: calc(1em + 1vw)/1.5 'Helvetica Neue', Arial, sans-serif;
	position: relative; }
body * + * {
	margin-top: 1.5rem; }
h1, h2 {
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 1px 1px 0 #fff, 3px 3px 0 rgba(102,102,153,0.25); }
h1 {
	color: #336;
	font-size: 200%; }
h2 {
	color: #669;
	font-size: 150%; }
h3 {
	font-size: 125%; }
h4 {
	font-size: 112.5%; }
h5, h6 {
	font-size: 100%; }
h1, h2, h3, h5 {
	font-weight: bold; }
h4, h6 {
	font-weight: 200; }
main p, .card p, .card ul {
	font-size: 75%; }
a {
	color: #39c;
	text-decoration: none;
	transition: all 0.25s ease-in-out; }
a:hover, a:focus {
	color: #336; }
strong {
	font-weight: bold; }
em {
	font-style: italic; }

/* Content */

header h1, header .tb, main {
	margin: 0 auto;
	width: 90%; }
header {
	background: #cce6f3;
	border-bottom: 1px solid #80c0e0;
	margin-bottom: 0.75em;
	padding: 0.75em 0; }
.tb:empty:before {
	background: rgba(255,255,255,0.33);
	content: 'Your tool belt is empty.';
	display: block;
	margin: 0.75em;
	padding: 1.5em;
	text-align: center; }

.tabs input, .tabs section {
	display: none; }
.tabs label {
	border-bottom: 1px solid rgba(51,51,102,0.25);
	display: block;
	padding: 0.25em;
	text-align: center; }
.tabs a {
	display: block;
	height: 100%;
	padding: 0.5em;
	text-align: center; }
#t3:checked ~ label:nth-of-type(3),
#t2:checked ~ label:nth-of-type(2),
#t2:not(:checked) ~ #t3:not(:checked) ~ label:nth-of-type(1) {
	background: #669;
	color: #fff; }
.tabs label:hover, .tabs label:focus {
	background: #336;
	color: #fff;
	cursor: pointer; }
.tabs input:nth-of-type(2):not(:checked) ~ input:nth-of-type(3):not(:checked) ~ section:nth-of-type(1),
.tabs input:nth-of-type(2):checked ~ section:nth-of-type(2),
.tabs input:nth-of-type(3):checked ~ section:nth-of-type(3) 
{
	animation: bob 0.25s ease-in-out 1;
  display: block; }
@keyframes bob {
	0% { transform: translateY(-2em); opacity: 0; }
	50% { transform: translateY(-1em); opacity: 0.05; }
	90% { transform: translateY(0.33em); opacity: 1; }
	97% { transform: translateY(0.16em); opacity: 1; }
	100% { transform: translateY(0); opacity: 1; }
}
.tabs section {
	padding-top: 1.5em; }

.tools {
	display: flex;
	flex-flow: row wrap; }
.tools > * {
	flex-basis: 10em;
	flex-grow: 1;
	margin: 0.25em; }
.tools a {
	background: #eee; }
.tools a:hover, .tools a:focus {
	background: #39c;
	color: #fff;
	transform: scale(1.05); }
.tools a:active {
	background: #369;
	transform: scale(1); }

.overlay, .overlay > a {
	height: 100%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%; }
.overlay {
	background: rgba(0,0,0,0.85); }
.overlay > a {
	z-index: 2; }
.card {
	background: #fff;
	box-shadow: 0 0 45px rgba(0,0,0,0.95);
	color: #333;
	margin: 1.5em auto;
	position: relative;
	width: 90%;
	z-index: 3; }
.card > * {
	padding: 0 0.75em; }
.card ul {
	list-style: disc;
	margin-left: 3em; }
.card li {
	margin: 0; }
.button, button {
	background: #39c;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 100%;
	line-height: 1.5;
	margin: 0 0 0.75em;
	padding: 0.75em 1.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 3px rgba(0,0,0,0.5);
	transition: all 0.25s ease-in-out;
	width: 100%; }
.button:hover, .button:focus, button:hover, button:focus {
	background: #336; }

footer {
	background: #336;
	border-top: 4px solid #669;
	padding: 1.5em;
	text-align: center; }
footer a, footer a {
	color: #fff !important;
	opacity: 0.33; }
footer a:hover, footer a:focus {
	opacity: 1; }

/* Media Queries */

@media screen and (max-width: 39.9375em) {
	.tabs label { margin: 0; }
}
@media screen and (min-width: 40em) {
	html, body { height: 100%; }
	.page { min-height: 100%; position: relative; }
	header h1, header .tb, main { width: 80%; }
	main { padding-bottom: 6em; }
	.tabs label { float: left; width: calc(100%/3); }
	.tabs section { clear: both; }
	.card { max-width: 40rem; width: 60%; }
	footer { bottom: 0; left: 0; position: absolute; width: 100%; }
}